.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e2f;
  color: white;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #ff6b6b;
}
